div{
    background-color: yellow;
}
input{
    background-color: rgb(90, 205, 90);
}
button{
    background-color: red;
    
}
button:hover{
    background-color: yellow;
    color: green
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}